[submodule "src/liboculus"]
	path = src/liboculus
	url = https://github.com/AAU-Underwater-Robot-Lab/liboculus
[submodule "src/g3log_ros"]
	path = src/g3log_ros
	url = https://gitlab.com/apl-ocean-engineering/g3log_ros
	branch = ros2
[submodule "src/marine_msgs"]
	path = src/marine_msgs
	url = https://github.com/apl-ocean-engineering/marine_msgs
	branch = ros2
	branch = ros2
[submodule "src/oculus_sonar_driver"]
	path = src/oculus_sonar_driver
	url = https://gitlab.com/Zerodamage/oculus_sonar_driver
	branch = ros2
[submodule "src/cuvis.ros"]
	path = src/cuvis.ros
	url = https://github.com/cubert-hyperspectral/cuvis.ros
[submodule "src/waterlinked_3d_sonar_driver"]
	path = src/waterlinked_3d_sonar_driver
	url = https://github.com/AAU-Underwater-Robot-Lab/waterlinked_3d_sonar_driver
